body {
    font-family: sans-serif;
    zoom: 125%;
}
.main1 {
    background-color: #ddd;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    margin: 8px;
    width: max-content;
}
a {
    color: #5699ff;
}
hithere {
    cursor: help;
}